@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.main-container
{
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
    /* justify-content:center; */
}
#t1
{
    color: #4B77BE;
    font-weight: 700;
    font-size: 36px;
}
#t2
{
    font-weight: 700;
    font-size: 48px;
}
.tempBox
{
    background: #FFFFFF;
    text-align: center;
}
.locationInput
{
background: white;
}
.inputarea
{
    width: 100%;
}
.inputarea #location
{
    flex: 2;
}
.btn
{
    background:#4B77BE;
    color: white;
}
.btn-outline-primary
{
    border-color: #4B77BE;
}

@media (max-width:768px)
{
.main-container
 {
margin-top: 10px;
 }
 .main-container .row>*
 {
    margin-bottom: 10px;
 }   
}