<div class="container main-container d-flex justify-content-center align-items-center">

    <div class="row">
        
        <div class="col-lg-6 col-sm-12 col-md-12 left">
            <div class="tempBox p-4 rounded">
                    <h1 id="t1">The Weather App</h1>
                    <h1 id="t2">24 &#176; Celcius</h1>
                    <h1 id="t1">Visakhapatnam</h1>
            </div>
            <div class="locationInput  p-1 mt-1 rounded">
                <form #userForm='ngForm' (ngSubmit)="onSubmit()" class="inputarea d-flex justify-content-center gap-2" novalidate>
                    <input type="text" name="location" id="location" placeholder="Enter city" ngModel>
                    <button type="submit" class="btn btn-outline-primary btn-md">Get Weather</button>
                </form>
            </div>
        </div>
        
        <div class="col-lg-6 col-sm-12 col-md-12 right">
            <img src="../assets/illustration.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
<router-outlet></router-outlet>
